section {
  width: 80%;
  height: 800px;
  margin: 0, auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1602572376058-a12f8eb6b946?q=80&w=2487&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: bottom;
}

h1 {
  font-size: 100px;
  color: yellow;
}